@import url(reset.css);
body{
    font-family: inter, '微軟正黑體';
    line-height: 1.5;
    color: #ffffff;
}

header{
    /* position: fixed;
    width: 100vw;
    z-index: 5; */
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    height: 80px;
    filter:  drop-shadow(0 0 20px #000000);

    box-sizing: border-box;
    animation-name: topb;      
    animation-duration: 3000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes topb {
    0%  { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000) 1; }
    10% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000, #000000) 1; }
    20% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000, #000000, #ff0000) 1; }
    30% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000, #000000, #ff0000, #ff9100) 1; }
    40% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000, #000000, #ff0000, #ff9100, #fffb00) 1; }
    50% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #ff00f2, #ff0000, #000000, #000000, #000000, #000000, #ff0000, #ff9100, #fffb00, #00ffff) 1; }
    60% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #ff0000, #000000, #000000, #000000, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2) 1; }
    70% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000) 1; }
    80% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #000000, #000000, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000) 1; }
    90% { border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #000000, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000) 1; }
    100%{ border-bottom: 2px solid;border-image: linear-gradient(to right bottom, #000000, #ff0000, #ff9100, #fffb00, #00ffff, #ff00f2, #ff0000, #000000, #000000, #000000) 1; }
}

.logo img {
    min-width: 100%;
    height: 80px;
}

.menu{
    background-position: right;
    background-repeat: no-repeat;
}

.menu-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.menu-list li{
    width: 140px;
    background-color: #000000;
    text-align: center;
    margin-left: 1px;
    animation-name: myanimation;      
    animation-duration: 3000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.menu-list a{
    display: block;
    font-family: iceland;
    font-size: 24px;
    color: #ffffff;
    line-height: 78px;
    margin: auto 0;
    text-decoration: none;
    justify-content: center;
}

.menu-list h2:hover{
    filter: drop-shadow( 0 0 2px rgb(255, 255, 255));
    background: linear-gradient(to right bottom, #F5CBFF, #B331D7, #1299B7);
    
    animation-name: mainbtn;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: .1s;
}

@keyframes mainbtn {
    0% { background-clip: text; background: linear-gradient(to right bottom, #000000, #000000, #000000); }
    20% { background-clip: text; background: linear-gradient(to right bottom, #000000, #000000, #F5CBFF); }
    30% { background-clip: text; background: linear-gradient(to right bottom, #000000, #F5CBFF, #B331D7); }
    40% { background-clip: text; background: linear-gradient(to right bottom, #F5CBFF, #B331D7, #1299B7); }
}

 
/* 更改繁體中文語系的字體大小 */
[data-lang="zh-TW"] {
    font-size: 18px;
    font-weight: bold;
  }

/* 更改日文語系的字體大小 */
[data-lang="jp"] {
    font-size: 16px;
    font-weight: bold;
  }

/* -----------inside---------- */
.wrapper{
    background: fixed;
	margin: 0 auto;
    z-index: -2;
    animation-name: bg1;      
    animation-duration: 5000ms; 
    animation-timing-function: cubic-bezier(.21,.86,.72,.18);
    /* animation-timing-function: ease-out; */

    animation-iteration-count: infinite;
}

@keyframes bg1 {
    0%   { background-clip: text; background: linear-gradient(to right top, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7); }
    10%  { background-clip: text; background: linear-gradient(to right top, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF); }
    20%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF); }
    30%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7); }
    40%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7); }
    50%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7); }
    60%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7); }
    70%  { background-clip: text; background: linear-gradient(to right top, #B331D7, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7); }
    80%  { background-clip: text; background: linear-gradient(to right top, #1299B7, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7); }
    90%  { background-clip: text; background: linear-gradient(to right top, #1299B7, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7); }
    100% { background-clip: text; background: linear-gradient(to right top, #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #B331D7, #1299B7, #1299B7); }
} 

main{
    background: fixed;
    background-image: url("../pic/bg_b.png");
    background-size: cover;
}
/* ------------------------ */
footer{
    margin:  0 auto;
    height: 200px;
    /* background-color: #B331D7; */
    background-image: url("../pic/footer_bg.png");
    background-size: contain;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 4px #B331D7);

    /* animation-name: FR;      
    animation-duration: 3000ms; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    line-height: 24px; */
    animation-name: XZ;      
    animation-duration: 5000ms; 
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.foot{
    display: flex;
    margin: 0 360px;
}

.footmain{
    float: left;
    padding: 20px;
    height: 160px;
    width: auto;
    margin: auto;
    /* background-color: rgba(53, 140, 175, 0.2); */
    /* background-color: #000000; */

}

/* .footmain ul{
    background-color: #000000;
} */

.footmain li{
    color: #b5b5b5;
    font-size: 16px;
    text-decoration: none;
    background-color: #000;
    border-radius: .5rem;
    margin: 2px;
    /* border: 1px solid #5b5b5b; */
    filter: drop-shadow(0 0 4px #B331D7);
    animation-name: XZ;      
    animation-duration: 5000ms; 
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.ll{
    float: left;
    margin-right: 20px;
}

.fmli{
    padding: 0 20px;
}

.footmain a{
    display: block;
    color: #b5b5b5;
    font-size: 16px;
    text-decoration: none;
    padding: 0 20px;
}

.footmain a:hover{
    background-color: #B331D7;
    border-radius: 0.25em;
    color: #FFF;
}

span{
    display: block;
    background-color: #000000;
    color: #b5b5b5;
    text-align: center;
    border-top: 1px solid #b5b5b5;
}

@keyframes FR {
    0% {  filter:  drop-shadow(0px 0px 4px rgb(228, 118, 255));}
    50% { filter:  drop-shadow(0px 0px 4px rgb( 18, 153, 183));}
    100%{ filter:  drop-shadow(0px 0px 4px rgb(228, 118, 255));}
} 
@keyframes XZ {
    0%   { filter: drop-shadow(0 0 1px #B331D7);}
    40%  { filter: drop-shadow(0 0 1px #1299B7);}
    80%  { filter: drop-shadow(0 0 2px #F5CBFF);}
    100% { filter: drop-shadow(0 0 1px #B331D7);
    }
}
#about{
    display: none;
}
/* ---------------------------- */
@media screen and (max-width: 820px) {
    header{
        position: fixed;
        width: 100vw;
        z-index: 5;
    }
    main{
        background: fixed;
        background-image: url("../pic/bg_b_pad.png");
        background-size: cover;
        padding-top: 80px;

    }
    .menu-list{
        background: none;
        pointer-events: none;
    }
    .menu-list li{
        /* margin-bottom: 1px; */
    }
    .menu-list a{
        outline: 1px solid #cccccc;
        pointer-events: auto;
    }
    footer{
        width: 100vw;
        height: auto;
    }
    .foot{
        margin: 0;
    }
    .footmain{
        padding: 10px;
    }
    #footmain1{
        display: none;
    }
}

/* ---------------------------- */
@media screen and (max-width: 414px) {
    .menu-list a{
        font-size: 24px;
        line-height: 40px;
 
    }
    /* .menu a{
        line-height: 40px;
    } */
    main{
        background: fixed;
        background-image: url("../pic/Intersect.png");
        background-size: contain;
    }
    .footmain{
        height: auto;
        /* margin: 0; */
    }
    footer br{
        display: none;
    }
    .footmain a{
        padding: 0 4px;
    }
    .fmli{
        padding: 0 4px;
    }
}