.banner{
    width: 900px;
    height: 450px;
    padding-top: 40px;
    margin: 0 auto;
}


.games{
    display: flex;
    position: relative;
    padding-top: 40px;
    color: #5b5b5b;
}

.gamesmain .btn{
    display: flex;
    justify-content: flex-end
}

.games h1{
    justify-items: flex-start;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to right , #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.gamesmain{
    padding-top: 20px;
    margin: 0 auto;
}

.gamesmain ul{
    display: flex;
    justify-content: space-between; 
    width: 1200px;
    flex-wrap: wrap;
    margin: 60px auto 70px; 

}

.gamesmain li{
    padding-top: 20px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.3));
}

.gamesmain a{
    display: block;
    width: 540px;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: .2rem;
    margin-bottom: 20px;
    text-decoration: none;
    filter: saturate(0%);
    transition:all .3s linear
}

.gamesmain a:hover{
    padding: 0;
    outline: 4px solid #ffffff;
    border-left: 0;
    margin-bottom: 20px;
    transform: scale(1.1);
    border: 20px solid #ffffff;

    border-left: 20px solid #1299B7;
    border-right: 20px solid #f5CBFF;
    margin-bottom: 20px;
    filter: saturate(100%);
    transition-duration: .3s;
}

.gamesmain img{
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url("../pic/G.REX.png");
    object-fit: cover;
  
}

.gamename{
    background-color: #b331d7;
    background-color: #5b5b5b;
}

.gamename h2{
    color: #ffffff;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

/* ---------------------------- */
@media screen and (max-width: 820px) {
    body{
        width: 100vw;
    }

    .banner{
        display: none;
    }
    .gamesmain{
        width: 100vw;
        margin: 0;
        padding-top: 0;
    }
    .gamesmain ul{
        padding-top: 0px;
        width: 90vw;
        justify-content: space-between;
    }
    .gamesmain li{
        padding-right: 0px;
    }
    .gamesmain a{
        display: block;
        width: auto;
        background-color: rgba(255, 255, 255, .5);
        padding: 2px;
        border-radius: .2rem;
        margin-bottom: 0px;
        text-decoration: none;
        filter: saturate(100%);
        transition: none;
    }
    .gamesmain a:hover{
        padding: 0;
        outline: 0px solid #ffffff;
        border-left: 0;
        margin-bottom: 0px;
        transform: scale(1);
        border: 0px solid #ffffff;
    
        border-left: 0px solid #1299b7;
        border-right: 0px solid #f5CBFF;
        margin-bottom: 0px;
    }
    .gamename{
        width: 360px;
    }
    .gamesmain img{
        height: 200px;
    }
}

/* ---------------------------- */
@media screen and (max-width: 414px) {
    .wrapper h1{
        font-size: 24px;
        line-height: 40px;
    }
    .wrapper h2{
        font-size: 20px;
    }
    .games h1{
        width: 100vw;
        background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
        text-align: center;
    }
    .gamename{
        width: 100%;
    }
    .gamesmain img{
        height: 200px;
    }
}