.banner{
    width: 900px;
    height: 450px;
    padding-top: 40px;
    margin: 0 auto;
}


.news{
    display: flex;
    position: relative;
    padding-top: 40px;
    color: #5b5b5b;
}

.news h1{
    justify-items: flex-start;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to right , #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
    /* filter: drop-shadow(0px 5px 10px #5b5b5b); */
}

.newsmain{
    display: flex;
    justify-content: flex-end;
    margin: 80px auto 40px;
    background-color: #fff;
}

.newsmain input{
    position:absolute;
    opacity:0;
  }

.newsmain-l{
    display: flex;
    width: 300px;
    border: 1px solid #fff;
    flex-direction: column;
}

.newsmain-l label{
    flex-grow: 3;
    margin-bottom: 1px;
    background-color: rgba(91, 91, 91, 0.6);
    
    display:block;
    padding: 20px 30px;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #5b5b5b;
    position:relative;
    word-wrap: break-word;
    cursor: pointer;
}

.newsmain-l h2{
    font-weight:bold;
    font-size: 24px;
    margin-top: 35px;
    
}

.news a{
    text-decoration: none;
    margin: 0 auto;
}

.newsmain-r {
    width:800px;
    border: 1px solid #fff;
}

.newsmain-r img{
    display: block;
    width:100%;
    object-fit: contain;
    margin: auto;
} 

.content{display:none;}

#radio1:checked ~ .newsmain-l [for="radio1"],
#radio2:checked ~ .newsmain-l [for="radio2"],
#radio3:checked ~ .newsmain-l [for="radio3"]{color: #5b5b5b; background-color: #fff;}
    
#radio1:checked ~ .newsmain-r .content1,
#radio2:checked ~ .newsmain-r .content2,
#radio3:checked ~ .newsmain-r .content3 {display:block}


.games{
    display: flex;
    height: 500px;
    margin-bottom: 40px;
    position: relative;
}

.gamesswiper{
    position: absolute;
    z-index: 1;
}

.games h1{
    justify-items: flex-end;
    align-self: self-end;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to left, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.games ul{
    width: 100vw;
    margin: auto;
}

.gamesbackground{
    position: absolute;
    background-color: #1299b7;
    background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    opacity: .6;
    height: 300px;
    width: 100%;
    margin: 140px auto;
    filter:  drop-shadow(0 0 4px rgb(228, 118, 255));

}

.media{
    margin-top: 280px; 
    padding-bottom: 100px;
}

.mm{
    display: flex;
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

.media h1{
    width: 1200px;
    position: absolute;
    background-color: #b331d7;
    background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.media ul{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    
}

.mov iframe{
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, .2);
}

.media h1::before{
    display: block;
    position: relative;
    float: left;
    content: url(../pic/G.REX_top.png);
    width: 10px;
    height: 10px;
    pointer-events: none;
    margin: -320px 0 0 -190px;
    z-index: 1;
    opacity: .8;
    filter:  drop-shadow(4px 4px 4px rgb(12, 186, 255));
    animation-name: XX;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes XX {
    0%  { transform: translate(0, 0); }
    30% { transform: translate(0, 50px) rotate(5deg); }
    100%{ transform: translate(0, 0); }
}

.rex_bottom::before{
    display: block;
    position: relative;
    float: left;
    content: url(../pic/G.REX_bottom.png);
    width: 10px;
    height: 10px;
    pointer-events: none;
    margin: -370px 0 0 -580px;
    z-index: 0;
    opacity: .8;
    filter:  drop-shadow(4px 4px 4px rgb(228, 118, 255));

    animation-name: XX2;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes XX2 {
    0%  { transform: translate(0, 0); }
    30% { transform: translate(0, -50px) rotate(-5deg); }
    100%{ transform: translate(0, 0); }
}

/* ---------------------------- */
@media screen and (max-width: 820px) {
    body{
        width: 100vw;
    }

    .banner{
        display: none;
    }
    .newsmain{
        width: 100vw;
        /* display: block; */
        flex-direction: column;
    }
    .newsmain-l{
        width: 100vw;
        flex-direction: column;
    }
    .newsmain-l label{
        margin-bottom: 0;
        padding: 2px;
    }

    .newsmain-l h2{
        margin-top: 0;
        margin-left: 10px;
    }

    .newsmain-r{
        width: 100vw;
    }
    .games{
        height: 500px;
    }
    .games ul{
        display: none;
    }
    .games h1{
        position: absolute;
        justify-items: flex-start;
        align-self: self-start;
        background: linear-gradient(to right , #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    }
    .gamesbackground{
        margin: 100px auto;
    }
    .media{
        margin-top: 0;
        padding-bottom: 0;
    }
    .media h1{
        width: 100vw;
    }
    .media h1::before{
        display: none;
    }
    .mm{
        width: 100vw;
    }
    .media ul{
        width: 100vw;
    }
    .mov{
        margin: 10px auto;
    }
    .media iframe{
        width: 100%;
        height: 100%;
    }
    .rex_bottom::before{
        display: none;
    }

}

/* ---------------------------- */
@media screen and (max-width: 414px) {
    .wrapper h1{
        font-size: 24px;
        line-height: 40px;
    }
    .wrapper h2{
        font-size: 20px;
    }
    .news h1{
        width: 100vw;
        background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
        text-align: center;
    }
    .newsmain{
        margin: 50px auto 40px;
    }
    .games{
        height: 300px;
    }
    .games iframe{
        height: 320px;
    }
    .games h1{
        width: 100vw;
        background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
        text-align: center;
    }
    .gamesbackground{
        height: 240px;
        margin: 50px auto;
    }
    .media ul{
        width: 100vw;
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .mov{
        width: 100vw;
        height: 200px;
    }
}