.banner{
    width: 900px;
    height: 450px;
    padding-top: 40px;
    margin: 0 auto;
}


.news{
    display: flex;
    position: relative;
    margin-top: 40px;
}

.news h1{
    justify-items: flex-start;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to right , #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
    /* filter: drop-shadow(0px 5px 10px #5b5b5b); */
}

.news a{
    text-decoration: none;
    color: #5b5b5b;
    margin: 0 auto;
}

.newsmain{
    display: flex;
    justify-content: flex-end;
    height: 480px;
    width: 1200px;
    margin: 50px auto 40px;
}

.newsmain-l{
    width: 200px;
    background-color: #e5e5e5;
    padding: 40px 20px;
}

.newsmain-l h2{
    margin-bottom: 20px;
    font-weight:bold;
    font-size: 24px;
}

.newsmain-r{
    width:870px;
    background-image: url("../pic/MIXTAPE.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.games{
    display: flex;
    height: 580px;
    /* width: 100vw; */
    margin-bottom: 40px;
    position: relative;
}

.gamesswiper{
    position: absolute;
    z-index: 1;
}

.games h1{
    justify-items: flex-end;
    align-self: self-end;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to left, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.games ul{
    width: 100vw;
    margin: auto;
}

.gamesbackground{
    position: absolute;
    background-color: #1299b7;
    background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    opacity: .6;
    height: 380px;
    width: 100%;
    margin: 100px auto;
    filter:  drop-shadow(0 0 4px rgb(228, 118, 255));

}

.media{
    margin-top: 280px; 
    padding-bottom: 100px;
}

.mm{
    display: flex;
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

.media h1{
    width: 1200px;
    position: absolute;
    background-color: #b331d7;
    background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.media ul{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    
}

.mov iframe{
    position: relative;
    z-index: 2;
}

.media img{
    max-height: 960px;
    margin: -800px 0 0 -200px;
    opacity: .8;
    pointer-events: none;
}

.media h1::before{
    display: block;
    position: relative;
    float: left;
    content: url(../pic/G.REX_top.png);
    width: 10px;
    height: 10px;
    pointer-events: none;
    margin: -320px 0 0 -190px;
    z-index: 1;
    opacity: .8;
    filter:  drop-shadow(4px 4px 4px rgb(12, 186, 255));
    animation-name: XX;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes XX {
    0%  { transform: translate(0, 0); }
    30% { transform: translate(0, 50px) rotate(5deg); }
    100%{ transform: translate(0, 0); }
}

.rex_bottom::before{
    display: block;
    position: relative;
    float: left;
    content: url(../pic/G.REX_bottom.png);
    width: 10px;
    height: 10px;
    pointer-events: none;
    margin: -370px 0 0 -580px;
    z-index: 0;
    opacity: .8;
    filter:  drop-shadow(4px 4px 4px rgb(228, 118, 255));

    animation-name: XX2;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes XX2 {
    0%  { transform: translate(0, 0); }
    30% { transform: translate(0, -50px) rotate(-5deg); }
    100%{ transform: translate(0, 0); }
}