html, body {
    overflow-x: hidden;
}

.wrapper{
    /* position: relative; */
    background: fixed;
    background-image: url('../pic/bg.png');
    background-size: cover;
	margin: 0 auto;
    /* z-index: -2; */
    /* width: 100vw;
    height: 100%; */
    /* overflow-x: hidden; */
}

/* main{
    position: relative;
    background: fixed;
    background-image: url('../pic/bg.png');
    background-size: cover;
	margin: 0 auto;
    z-index: -2;
} */

.banner{
    width: 1200px;
    height: 450px;
    margin: 40px auto;
}

.news{
    display: flex;
    position: relative;
    margin: 40px auto;
}

.news h1{
    justify-items: flex-start;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}

.nm{
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: #3142d7;
    height: 480px;
    width: 1200px;
    margin: 40px auto;

    overflow: hidden;
}

.nml{
    flex-grow: 1;
    background-color: #cccccc;
    padding-top: 40px;
    padding-left: 20px;
}

.nml h2{
    font-weight:bold;
}

.nmr{
    flex-grow: 3;
    
}

.games{
    display: flex;
    height: 580px;
    width: 100vw;
    margin: 40px auto;
    position: relative;
}

.gg{
    position: absolute;
    z-index: 1;
}

.games h1{
    justify-items: flex-end;
    align-self: self-end;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}

.games ul{
    width: 100vw;
    margin: auto;
}

.gb{
    position: absolute;
    background-color: #1299b7;
    height: 380px;
    width: 100vw;
    margin: 100px auto;
}

.media{
    display: flex;
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 200px auto 0;
    padding: 300px 400px 0 auto;
    /* overflow: hidden; */
    /* background-image: url(/pic/Union.png);
    background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-position: -300px -200px; */
}

.media::before{
    /* display: flex;
    position: relative; */
    height: 500px;
    width: 1200px;
    margin: 200px auto 0;
    padding: 300px 400px 0 auto;
    /* overflow: hidden; */
    background-image: url(/pic/Union.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: -300px -200px; */
}

/* .media img{
    justify-content: flex-start;
    position: absolute;
    z-index: -1;
    margin: -300px 0 0 -600px;
} */

.media h1{
    z-index: 2;
    width: 1200px;
    position: absolute;
    background-color: #b331d7;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}

.media ul{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
}
