/* .login{
    width: 720px;
    height: 700px;
    background-image: url("../pic/login_bg.png");
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.3));
    display: flex;
    margin: 0 auto;
    padding: 40px 0 80px;
} */
.login{
    width: 720px;
    height: 700px;
    /* background-image: url("../pic/login_bg.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* filter: drop-shadow(0 0 7px #F5CBFF); */
    /* filter: drop-shadow(0 0 7px #B331D7); */
    /* filter: drop-shadow(0 0 7px #1299B7); */

    display: flex;
    /* background-color: rgba(255, 255, 255, .5); */
    /* border: 2px solid #b5b5b5; */
    margin: 0 auto;
    padding: 40px 0 80px;
    justify-content: center;
    overflow: hidden;
}

.login ul{
    position: absolute;
    z-index: 1;
    margin: 185px 0 0 80px;
    animation-name: XY;
    animation-duration: 2300ms; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes XY {
    0%  { opacity: 0; }
    50%  { opacity: 0; }
    100%{ opacity: 1; }
}

.login-bg{
    transform: rotateZ(-90deg);
    position: absolute;
    z-index: 0;
    top: -00px;
    object-fit: contain;
    margin: auto;
    filter: drop-shadow(0 0 4px #B331D7);
    animation-name: XX;      
    animation-duration: 1000ms; 
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes XX {
    0%  { transform: translate(0, 150px); opacity: 0;}
    100%{ transform: translate(0, 0px);transform: rotateZ(-90deg);  opacity: 1;}
    
}

.login img{
    object-fit: contain;
    /* filter: drop-shadow(0 0 4px #B331D7); */
    animation-name: XZ;      
    animation-duration: 5000ms; 
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes XZ {
    0%   { filter: drop-shadow(0 0 4px #B331D7);}
    40%  { filter: drop-shadow(0 0 2px #1299B7);}
    80%  { filter: drop-shadow(0 0 6px #F5CBFF);}
    100% { filter: drop-shadow(0 0 4px #B331D7);
    }
}

#fg{
    letter-spacing: -2px;
}

.login h2{
    font-size: 24px;
    /* font-weight: bold; */
}

.blank input{
    width: 300px;
    height: 30px;
    background-color: #cccccc;
    border: none;
    margin-bottom: 20px;
    border-radius: .25rem;
    font-size: 24px;
}

.btn1{
    background: #5b5b5b;
    color: #FFF;
    width: 304px;
    height: 40px;
    font-size: 24px;
    border-radius: .35rem;
    margin: 20px 0;
}

.btn{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn a{
    color: #FFF;
}

.btn a:hover{
    color: #B331D7;
}

.othersign{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 40px;
    border-top: 1px solid #5b5b5b;
}

.othersign a{
    color: #5b5b5b;
}

.othersign a:hover{
    color: #ffffff;
}

.othersign .bi::before{
    padding: 2px;
    background: #ffffff;
    border-radius: 2rem;
}

/* ---------------------------- */
@media screen and (max-width: 820px) {
    .login{
        width: 100vw;
        height: 100vw;
        padding: 40px 0 40px;
    }
    .login ul{
        margin: 200px 0;
        animation: none;
    }
    .login-bg{
        height: 100vw;
        overflow: hidden;
        animation: none;
    }
    .login img{
        margin: -200px 320px 0 0;
        /* display: none; */
    }
    .btn a{
        background: #5b5b5b;
    }
    
    .btn a:hover{
        color: #fff;
    }
    
    .othersign a:hover{
        color: #5b5b5b;
    }
}

/* ---------------------------- */
@media screen and (max-width: 414px) {
    /* .login{
        height: 320px;
    }*/
    .login ul{
        margin: 0;
    }
    .login img{
        display: none; 
    }
}