.support{
    height: 100%;
    display: flex;
    position: relative;
    padding-top: 40px;
}

.support h1{
    justify-items: flex-start;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: #b331d7;
    background: linear-gradient(to right , #F5CBFF, #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
    width: 50vw;
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 3px 6px #000001;
}

.supportmain{
    height: 65vh;
    display: flex;
    justify-content: flex-end;
    /* height: 480px; */
    /* width: 1200px; */
    margin: 100px auto 40px;
    background-color: #fff;
}

.supportmain input{
    position:absolute;
    opacity:0;
  }

.supportmain-l{
    width: auto;
    background-color: #5b5b5b;
    border: 1px solid #fff;

    /* background-color: #5b5b5b; */

}

.supportmain-l label{
    margin-bottom: 1px;
    background-color: rgba(91, 91, 91, 0.6);
    
    display:block;
    padding: 10px 30px;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #5b5b5b;
    position:relative;
    word-wrap: break-word;
    cursor: pointer;
}

.supportmain-l h2{
    font-weight:bold;
    font-size: 24px;
}

.supportmain-l p{
    display: block;
}

.support a{
    text-decoration: none;
    margin: 0 auto;
}

.supportmain-r {
    width:800px;
    border: 1px solid #fff;
    /* background-color: #fff; */
}
.supportmain-r ol{
    /* width: 800px; */
    height: 100%;
}

.supportmain-r p{
    font-size: 20px;
    display: block;
    width: 94%;
    margin: 20px;
    color: #000;
    word-wrap: break-word;
} 

.content{display:none;}

#radio1:checked ~ .supportmain-l [for="radio1"],
#radio2:checked ~ .supportmain-l [for="radio2"],
#radio3:checked ~ .supportmain-l [for="radio3"]{color: #5b5b5b; background-color: #fff;}
    
#radio1:checked ~ .supportmain-r .content1,
#radio2:checked ~ .supportmain-r .content2,
#radio3:checked ~ .supportmain-r .content3 {display:block}


/* ---------------------------- */
@media screen and (max-width: 820px) {
    body{
        width: 100vw;
    }

    .supportmain{
        height: 100%;
        width: 90vw;
        margin: 100px auto 40px;

    }
    .supportmain-l{
        /* width: 100%; */
        flex-direction: column;
    }
    .supportmain-l label{
        margin-bottom: 0;
        padding: 2px;
    }

    .supportmain-l h2{
        margin-top: 0;
        margin-left: 10px;
    }

    .supportmain-r{
        width: 100%;
    }

}

/* ---------------------------- */
@media screen and (max-width: 414px) {
    .wrapper h1{
        font-size: 24px;
        line-height: 40px;
    }
    .wrapper h2{
        font-size: 20px;
    }
    .support h1{
        width: 100vw;
        background: linear-gradient(to right, rgba(245, 203,255,0), #F5CBFF, #B331D7, #B331D7, #B331D7, #1299B7, rgba(18, 153,183,0)); 
        text-align: center;
    }
    .supportmain{
        flex-direction: column;
        margin: 50px auto 40px;
    }

}